<script type="text/javascript">
    $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
    </script>
<h2>Add Miniature to collection or wantlist</h2>

<div class="row">
  <div class="span6">
    <%= form_for(@collection, :html => { :class => "form-horizontal"} ) do |f| %>
      <div class="row">
        <div class="span4">
          <div class="control-group">
  	        <%= f.hidden_field :user_id, :value => current_user.id %>
 	          <%= f.hidden_field :miniature_id, :value => @miniature_id %>
            <%= f.label :status, 'Got, Want or Had?', class: "control-label"  %>
            <div class="controls">
              <%= f.select :status, options_for_select(["Got", "Want", "Had"]) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <div class="control-group">
            <%= f.label :progress, class: "control-label"  %>
            <div class="controls">
              <%= f.select :progress, options_for_select(["Unpainted", "Painted", "Unassambled", "Assembled", "Work In progress", "Prepainted", "N/A"]) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <%= f.label :name, 'Name or Number', class: "control-label"  %>
              <div class="controls">
                <%= f.text_field :name, placeholder: 'Optional. For identifying your individual miniatures.' %>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="control-group">
            <%= f.label :notes, class: "control-label"  %>
            <div class="controls">
              <%= f.text_area :notes, placeholder: 'Optional. Notes on how you painted it or the tabletop prowess of miniature.' %>
            </div>
          </div>
        </div>
      </div>
<div style="float: right;">
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
</div>
<% end %>

  </div>
</div>