<% provide(:title, @user.name ) %>
<h1><% if current_user?(@user) %>Your<% else %>
	<%= @user.name %>'s<% end %> <% if params[:status] == 'Got' %>collection<% elsif params[:status] == 'Want' %>wantlist<% end %></h1>

	<form class="form">
			<div class = "form-inline">
			<%= search_form_for @search, :html => {:method => :post} do |f| %>
  	 			<div class="input-append">
    				<%= f.text_field :name_or_miniature_name_cont, class: "span3" %>
  					<%= f.submit "Search", class: "btn" %>
  	    		</div>
			<% end %>
			</div>
		</form>


<%= will_paginate %>
<table border="0" cellpadding="10" class="table table-hover">
<th align="left"><i class="fa fa-camera fa-2x"></i></th>
<th align="left"><%= sort_link(@search, :miniature_name, "Miniature Name") %></th>
<th align="left"><%= sort_link(@search, :name, "Name") %></th>
<th align="left"><%= sort_link(@search, :manufacturer_name, "Manufacturer") %></th>
<th align="left"><%= sort_link(@search, :progress, "Progress") %></th>
<th align="left"><%= sort_link(@search, :created_at, "Date added") %></th>
<% if params[:status] == 'Want' %><th align="left">Remove</th><% end %>

  <%= render @collections %>
</table>

<%= will_paginate %>