<% provide(:title, @user.name ) %>
<h1><% if current_user?(@user) %>Your<% else %>
	<%= @user.name %>'s<% end %>    <% if current_scopes[:got].present? && current_scopes[:painted].present? %>
       painted miniatures
       <% elsif current_scopes[:want].present? %>
       wantlist
       <% elsif current_scopes[:got].present? %>
       collection
    <% end %></h1>





<%= will_paginate %>
<table border="0" cellpadding="10" class="table table-hover">
<th align="left"><i class="fa fa-camera fa-2x"></i></th>
<th align="left"><%= sort_link(@search, :miniature_name, "Miniature Name") %></th>
<th align="left"><%= sort_link(@search, :name, "Name") %></th>
<th align="left">Manufacturer</th>
<th align="left"><%= sort_link(@search, :progress, "Progress") %></th>
<th align="left"><%= sort_link(@search, :created_at, "Date added") %></th>
<% if params[:status] == 'Want' %><th align="left">Remove</th><% end %>

  <%= render @collections %>
</table>

<%= will_paginate %>

<div class="empty_collection">
<% if @collections.empty? && @user == current_user %>
  <% if current_scopes[:got].present? && current_scopes[:painted].present? %>
       You haven't marked any of your collection as Painted yet.<br /><br /> To mark a miniature as painted, click on an item in <%= link_to "your collection", user_collections_path(current_user, got: true) %> and then click on the Edit tab on the right.
  <% elsif current_scopes[:want].present? %>
       Your wantlist is currently empty. <%= link_to "Find some miniatures", miniatures_path %> you're after and click on <i class="fa fa-check-square-o"></i> <a href="">add to collection or wantlist</a>.
  <% elsif current_scopes[:got].present? %>
    <div class="center hero-unit">
       <div class="big_text">Your collection is currently empty.<br /><br /> <%= link_to "Find some miniatures", miniatures_path, class: "btn btn-large btn-primary" %><br /><br /> and look for the <i class="fa fa-check-square-o"></i><br /> to add them to your collection.</div>
    </div>
  <% end %>
<% end %>
</div>