<% provide(:title, 'Add to Collection or wantlist') %>
<h1>Add to collection or wantlist</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@collection) do |f| %>
  	<div><%= f.hidden_field :user_id, :value => current_user.id %></div>
 	<div><%= f.hidden_field :miniature_id, :value => @miniature_id %></div>
   <%= f.label :status, 'Got, Want or Had?' %>
  <%= f.select :status, options_for_select(["Got", "Want", "Had"]) %>
   <%= f.label :progress %>
  <%= f.select :progress, options_for_select(["Unpainted", "Painted", "Unassambled", "Assembled", "Work In progress", "Prepainted", "N/A"]) %>
  <%= f.label :name, 'Name or Number (optional) for identifying your individual miniatures' %>
  <%= f.text_field :name %>
  <%= f.label :notes, 'Notes (optional) on the painting or tabletop prowess of miniature' %>
  <%= f.text_area :notes %>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>
<br />
Don't forget you can add the individual miniatures to your collection as well.
  </div>
</div>
