<% provide(:title, [@miniature.name.html_safe, @user.name].join(' by ')) %>

<script type="text/javascript">
    $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
    </script>

<div class="row">

  <div class="span8">
      <h3><%= @collection.miniature.name %> </h3>
        <% if @collection.photo.exists? %>

<script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>

  <% if @collection.photo? %>
      <%= link_to image_tag(@collection.photo.url(:medium), :retina => true), @collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

<div class="share-buttons">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="<%= [@miniature.name.html_safe, @user.name].join(' by ') %>" data-via="minilegions">Tweet</a>

<div class="fb-share-button" data-href="#{request.original_url}" data-width="110"></div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <% content_for :head do %>
    <meta property="og:title" content="<%= [@miniature.name.html_safe, @user.name].join(' by ') %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>"/>
    <meta property="og:image" content="<%= @collection.photo.url(:medium) %>"/>
    <meta property="og:description" content="<%= @collection.notes %>"/>
    
  <% end %>
</div>

  <% end %>
  <% elsif current_user?(@user) && @collection.progress == 'Painted' %>
    

  <br /><br />
          <div class="big_text">Upload a photo of your painting<br /><br />
            <span class="tooltip_style"><a href="#" data-toggle="tooltip" title="Only upload pictures of miniatures you painted yourself. No text or logos on image. If you're uploading a composite or multiple-view image, please no more than three frames and they must be arranged horizontally not vertically. This will help keep the site looking nice.">Image guidelines <i class="fa fa-question-circle"></i></a></span><br /><br />
    <%= form_for @collection, :html => { :multipart => true } do |f| %>
      <%= f.file_field :photo %><br />
      <%= f.submit "Add Photo", class: "btn btn-large btn-primary" %>
     <% end %></div>
  <% end %>

<% if current_user?(@user) %>
  <%= render 'yours' %>
<% else %>
  <%= render 'theirs' %>
<% end %>
   
  </div>

