<% provide(:title, [@miniature.name.html_safe, @user.name].join(' by ')) %>

<script type="text/javascript">
    $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
    </script>

<div class="row">

  <div class="span8">
      <h3><%= @collection.miniature.name %> </h3>
        <% if @collection.photo.exists? %>

<script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>

  <% if @collection.photo? %>
      <%= link_to image_tag(@collection.photo.url(:medium), :retina => true), @collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

<div class="share-buttons">
  <div class="fb-root"></div>
      <script>
   (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

     window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
            console.log("FB Object initiated");
            FB.XFBML.parse(); // now we can safely call parse method
       };

</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
    

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="<%= [@miniature.name.html_safe, @user.name].join(' by ') %>" data-via="minilegions">Tweet</a>



<div class="fb-share-button" data-href="#{request.original_url}" data-width="110"></div>
      





  <% content_for :head do %>
    <meta property="og:title" content="<%= [@miniature.name.html_safe, @user.name].join(' by ') %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>"/>
    <meta property="og:image" content="<%= @collection.photo.url(:medium) %>"/>
    <meta property="og:description" content="<%= @collection.notes %>"/>
    <meta name="twitter:card" content="photo">
    <meta name="twitter:title" content="<%= @collection.notes %>">
    <meta name="twitter:image:src" content="<%= @collection.photo.url(:medium) %>">
    
  <% end %>
</div>

  <% end %>
  <% elsif current_user?(@user) && @collection.progress == 'Painted' %>
    

  <br /><br />
          <div class="big_text">Upload a photo of your painting<br /><br />
            <span class="tooltip_style"><a href="#" data-toggle="tooltip" title="Only upload pictures of miniatures you own yourself. No text or logos on image. If you're uploading a composite or multiple-view image, please no more than three frames and they must be arranged horizontally not vertically. This will help keep the site looking nice.">Image guidelines <i class="fa fa-question-circle"></i></a></span><br /><br />
    <%= form_for @collection, :html => { :multipart => true } do |f| %>
      <%= f.file_field :photo %><br />

        <div class="form-inline"><%= f.label :conversion  %>

            <%= f.check_box :conversion %><span class="tooltip_style"><a href="#" data-toggle="tooltip" title="Tick if this miniature was converted using parts not originally supplied with it. You can detail the conversion in the notes."> <i class="fa fa-question-circle"></i></a></span><br />
        </div>

            

              

      <%= f.submit "Add Photo", class: "btn btn-large btn-primary" %>
     <% end %></div>
  <% end %>

<% if current_user?(@user) %>
  <%= render 'yours' %>
<% else %>
  <%= render 'theirs' %>
<% end %>
   
  </div>

  <div class="row">

  <div class="span8">

  <br />

  <div class="comments_count">Comments (<%= @comments.count %>)<br /><br /></div>

  <%= form_for [@commentable, @comment] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.text_area :content, :rows => 5 %>
    <%= f.submit "Comment", class: "btn btn-large btn" %>
  <% end %>

  <table class="comments">
    <% @comments.each do |c| %>
    <tr id="<%= c.id %>">
      <td ><div style="width: 48px;"><%= gravatar_for c.user %></div></td>
      <td>
    <span class="user">
      <%= link_to c.user.name, c.user %></span> <span class="username">@<%= link_to c.user.username, c.user %></span>

    <div class="content"><%= markdown.render(wrap(c.content)).html_safe %></div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(c.created_at) %> ago</span>
    
      <% if current_user?(c.user) %>
      <%= render partial: 'shared/delete_link', locals: { object: c } %><% else %>
      <% end %></td>
    </tr>
    <% end %>
  </table>
</div>
</div>
 

