<% provide(:title, [@miniature.name, @user.name].join(' by ')) %>

<div class="row">

  <div class="span8">
      <h3><%= @collection.miniature.name %> </h3>
      <% if @collection.photo? %>

      <%= link_to image_tag(@collection.photo.url(:medium), :retina => true), @collection.photo.url(:original), :retina => true %><br />
      Painted by <%= link_to @collection.user.name, @user %>
      <% end %>

    </div>
  <aside class="span4">
    <section>


     <% if current_user?(@user) %>
     
     <%= render 'got' %>
     
      <% else %>
      In <%= link_to @collection.user.name, @user %>'s collection<br /><br />
     <% end %><br />
     <%= link_to '<Back to Miniature details', @miniature %>
    </section>
  </aside>
   
</div>