  <% if @line.errors.any? %>
  <div class="row">
    <div class="span7">
      <div id="error_explanation">
        <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

        <div class="controls"><ul>
          <% @line.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </div>
      </ul>
    </div>
    </div>
  </div><br />
  <% end %>

 <div class="row">
    <div class="span7">
     <div class="control-group">
        <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, placeholder: 'A relatively short line name' %>
      </div>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
    <%= f.text_area :description, placeholder: 'Full line name and any description' %>
      </div>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :manufacturer_id, class: "control-label" %>
    <div class="controls">
    <%= f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name, @line.manufacturer_id) %>
      </div>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :parent_id, class: "control-label" %>
    <div class="controls">
    <%= f.select :parent_id, ("<option></option>" + options_from_collection_for_select(Line.all, :id, :name, @line.parent_id)).html_safe %>
    </div>
     </div>
    </div>
 </div>
  

