<%= form_for(@line, :html => { :class => "form-horizontal"} ) do |f| %>
  <% if @line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% @line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
    <div class="span7">
     <div class="control-group">
        <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, placeholder: 'A relatively short line name' %>
      </div>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
    <%= f.text_area :description, placeholder: 'Full line name and any description' %>
      </div>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :manufacturer_id, class: "control-label" %>
    <div class="controls">
    <%= f.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all, :id, :name, {:selected => @line.manufacturer}) %>
      </div>
     </div>
    </div>
 </div>
  <div class="row">
    <div class="span7">
     <div class="control-group">
    <%= f.label :parent_id, class: "control-label" %>
    <div class="controls">
    <%= f.select :parent_id, @lines, include_blank: true %>
    </div>
     </div>
    </div>
 </div>
  <div style="float: right;">
    <%= f.submit "Add line", class: "btn btn-primary" %>
  </div>
<% end %>

