<% provide(:title, 'Edit product line') %>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#edit">Edit product line</a></li>
  <li><a href="#changes">Product line changes</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="edit">
		<%  if @line.created_at > 5.minutes.ago %>
			<h1>...and now we add the parent line</h1>
		<% else %>
			<h1>Edit product line</h1>
		<% end %>
			<div class="row">
				<div class="span8 offset2">
		<%= form_for(@line, :html => { :class => "form-horizontal"} ) do |f| %>
			<%= render 'form', f: f if @line.created_at < 5.minutes.ago %>
			<div class="row">
    			<div class="span7">
     				<div class="control-group">
    					<%= f.label :parent_id, class: "control-label" %>
    					<div class="controls">
    						<%= f.select :parent_id, @lines, include_blank: true %>
    					</div>
     				</div>
    			</div>
 			</div>
			<%= render 'shared/comment', f: f if @line.created_at < 5.minutes.ago %>
		<div style="float: right;">
   		 <%= f.submit "Submit changes", class: "btn btn-primary" %>
  		</div>
		<% end %>
				</div>
			</div>
	</div>
<div class="tab-pane" id="changes"><%= render 'history' if @line.versions.any? %></div>
</div>

<script>
  $('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>


<br /><br /><br /><br />
<%= link_to 'Show', @line %> |
<%= link_to 'All lines', lines_path %>
