<h1>Listing lines</h1>

<table border="0" cellpadding="10" class="table table-condensed table-hover">
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Description</th>
    <th>Ancestry</th>
    <% if current_user.try(:admin?) %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%= link_to line.name, line %></td>
    <td><%= line.manufacturer.name %></td>
    <td><%= line.description %></td>
    <td><%= line.ancestry %></td>
    <% if current_user.try(:admin?) %>
    <td><%= link_to 'Edit', edit_line_path(line) %></td>
    <td><%= link_to 'Destroy', line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.try(:admin?) %>
<%= link_to 'New line', new_line_path %>
<% end %>