<% provide(:title, 'Product lines') %>
<h1>Product lines</h1>

<div class="links_wrapper">
    <div class ="model_links">
        <%= link_to "Miniatures", miniatures_path %>
    </div>
    <div class ="model_links">
        <%= link_to "Manufacturers", manufacturers_path %>
    </div>
    <div class ="model_links">
        <%= link_to "Sculptors", sculptors_path %>
    </div>
</div>

<form class="form">
    <div class = "form-inline">
        <%= search_form_for @search, :html => {:method => :post} do |f| %>
        <div class="input-append">
            <%= f.text_field :name_cont, class: "span3" %>
        <%= f.submit "Search", class: "btn" %>
        </div>
        <% end %>
        <div class="float-right">
            <% if current_user.try(:admin?) %>
                <%= link_to 'Add line', new_line_path, class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</form>
<%= will_paginate %>
<table border="0" cellpadding="10" class="table table-condensed table-hover">
    <th><%= sort_link(@search, :name, "Line") %></th>
    <th>Parent</th>
    <th>Manufacturer</th>
    <th>Description</th>
    <% if current_user.try(:admin?) %>
        <th>Edit</th>
        <th>Delete</th>
    <% end %>
 <%= render @lines %>
</table>
<%= will_paginate %>