<% provide(:title, @line.name) %>
<h1><%= @line.name %></h1>
<div id="breadcrumbs">
  <%= link_to @line.manufacturer.name, @line.manufacturer %> &gt;
  <% @line.ancestors.each do |line| %> 
    <%= link_to line.name, line %> &gt;
  <% end %> <%= @line.name %>
</div>
<div class="indexcontent"><%= @line.description %><br />
  <strong>Sub-lines:</strong>

  <% @line.children.each do |line| %>
<span id="sub-line"><%= line_sublink_with_count(line) %></span>
<% end %></div><br />
	<h4>Miniatures <%= line_count %></h4>

  <%= will_paginate @miniatures %>

<table border="0" cellpadding="10" class="table table-condensed table-hover">

<th align="left"><%= sort_link(@search, :name, "Name") %></th>
<th align="left"><%= sort_link(@search, :material, "Material") %></th>
<th align="left"><%= sort_link(@search, :manufacturers_name, "Manufacturer") %></th>
<th align="left"><%= sort_link(@search, :lines_name, "Line") %></th>
<th align="left"><%= sort_link(@search, :pcode, "Code") %></th>
<th align="left"><%= sort_link(@search, :sculptors_last_name, "Sculpt") %></th>
<th align="left"><%= sort_link(@search, :release_date, "Release") %></th>
<th align="left"><i class="fa fa-check-square-o"></i></th>
<% if current_user.try(:admin?) %><th align="left">Admin</th><% end %>
  <%= render @miniatures %>
</table>

<%= will_paginate @miniatures %>