<% provide(:title, @line.name) %>
<h1><%= @line.name %></h1>
<div id="breadcrumbs">
  <%= link_to @line.manufacturer.name, @line.manufacturer %> &gt;
  <% @line.ancestors.each do |line| %> 
    <%= link_to line.name, line %> &gt;
  <% end %> <%= @line.name %>
</div>
<div class="row">
  <div class="span2">
<br /><br />
<% @line.children.each do |line| %>
<%= link_to line.name, line %>
<br />
<% end %>
</div>
<div class="span10">
	<%= @line.description %><br /><br />

	<h4>Miniatures</h4>

  <%= will_paginate @miniatures %>

<table border="0" cellpadding="10" class="table table-hover">

<th align="left"><%= sort_link(@search, :name, "Name") %></th>
<th align="left"><%= sort_link(@search, :material, "Material") %></th>
<th align="left">Manufacturer</th>
<th align="left">Line</th>
<th align="left">Scale</th>
<th align="left"><%= sort_link(@search, :pcode, "Product Code") %></th>
<th align="left">Sculpted by</th>
<th align="left"><%= sort_link(@search, :release_date, "Release Date") %></th>
<th align="left"></th>
<% if current_user.try(:admin?) %><th align="left">Admin</th><% end %>
 
 <%= render @miniatures %>
</table>

<%= will_paginate @miniatures %>


</div>
</div>
