<div class="row">
  <aside class="span3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>

        <%= render 'shared/stats' %>

    </section>
    <section>
      <%= render 'shared/site_stats' %>
    </section>
  </aside>
  <aside class="span4">
    <section>
       <%= render 'shared/picfeed' %>
    </section>
  </aside>
    <aside class="span5">
      <section>
        <h1>Updates feed</h1>
          <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
      </section>
    </aside>
</div>