<div class="row">
  <aside class="span3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>

        <%= render 'shared/stats' %>

    </section>
    <% if current_user.collections.count < 5 || current_user.followed_users.count < 3 || current_user.voted_count < 3 %>
    <section>
      <div class="button_wrapper">
      <%= link_to 'Getting Started', getting_started_path, class: "btn-large btn-info" %>
    </div>
    </section>
    <% end %>
    <section>
      <%= render 'shared/site_stats' if current_user.try(:admin?) %>
    </section>
  </aside>
  <aside class="span4">
    <section>
       <%= render 'shared/picfeed' %>
    </section>
  </aside>
    <aside class="span5">
      <section>
        <h1>Updates feed</h1><br />
          <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
      </section>
    </aside>
</div>