<% provide(:title, 'Add miniature to set') %>
<h1>Add <%= @miniature.name %> to set of miniatures</h1>

<div class="row">
  <div class="span4 offset2">
    <%= form_for(@content) do |f| %>
 	<%= f.hidden_field :setmini_id, :value => @miniature.id %>
   
    <%= f.label :miniset_id, 'Enter set id' %><br />
    <%= f.number_field :miniset_id, :autocomplete => :off %></div>
    <div class="span4">
    <%= f.label :quantity, 'Quantity of this miniature included in set' %><br />
    <%= f.number_field :quantity, :autocomplete => :off %>
  
  <div style="float: right;"><%= f.submit "Add", class: "btn btn-large btn-primary" %></div>
<% end %>
  </div>
</div>
