
  <%= form_for(@imagevote) do |f| %>
  <% @miniature.collections(:photo).order(imagevotes_count: :desc).each do |collection| %>

    <% if collection.photo.exists? %>
      <td><div class="votephotos">

     <%= link_to image_tag(collection.photo.url(:thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>
<%= f.radio_button(:collection_id, collection.id) %>



     <p><%= link_to ['Painted by', collection.user.name].join(' '), collection %></p>
         </div></td>
    <% end %>
  <% end %>
  <%= f.hidden_field :voter_id, :value => current_user.id %>
<%= f.hidden_field :miniature_id, :value => @miniature.id %>
  <%= f.submit "Vote", class: "btn btn-large btn-primary" %>
<% end %>
 </table>

  </div>
</div>

 <script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>