<section>
        <i class="fa fa-check-square-o"></i> 
          <%= link_to "Add to collection or wantlist", new_collection_path(:miniature_id => @miniature) %>
      </section>

      <div class="gotwant">
        You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Want').count %> in your wantlist
      </div>
       <div class="gotwant">
        You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Got').count %> in your collection
        <ul class="icons">
          <% current_user.collections.where(miniature_id: @miniature).where(status: 'Got').each do |collection| %>
      
            <li>
              <table>
                <tr>
                  <td>
                    <% if collection.photo.exists? %>
                      <%= link_to image_tag(collection.photo.url(:icon), :retina => true, :class => "curvedicon"), collection %>
                    <% else %>
                      <%= link_to image_tag("/system/stock/barbarian.gif", :retina => true, :class => "curvedicon"), collection %>
                    <% end %>
                  </td>
                  <td>
                    <%= collection.name %><br >
                    <%= collection.progress %>
            </li>
                  </td>
                </tr>
              </table>
            <% end %>
        </ul>
      </div>