      <section>
        <i class="fa fa-check-square-o"></i>
        <a href="#collection-popup" class="open-popup-link">
          Add to collection or wantlist</a>
      </section>

      <div id="collection-popup" class="white-popup mfp-hide">
        <%= render 'collections/pop_form' %>
      </div>

<script>
$('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
});
</script>


     
       <div class="gotwant">
        You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Got').count %> in your collection
        <ul class="icons">
          <% current_user.collections.where(miniature_id: @miniature).where(status: 'Got').each do |collection| %>
      
            <li>
              <table>
                <tr>
                  <td>
                    <% if collection.photo.exists? %>
                      <%= link_to image_tag(collection.photo.url(:icon), :retina => true, :class => "curvedicon"), collection %>
                    <% else %>
                      <%= link_to image_tag("https://s3.amazonaws.com/minilegions/system/stock/barbarian.gif", :retina => true, :class => "curvedicon"), collection %>
                    <% end %>
                  </td>
                  <td>
                    <%= collection.name %><br >
                    <%= collection.progress %> 
            </li>
                  </td>
                </tr>
              </table>
            <% end %>
        </ul>
      </div>
       <div class="gotwant">
        You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Want').count %> in your wantlist<br />
        <ul class="wants">
          <% current_user.collections.where(miniature_id: @miniature).where(status: 'Want').each do |collection| %>
              <li>1 <%= collection.progress %> 
                  <%= link_to ' <i class="fa fa-times"></i>'.html_safe, collection, :confirm => 'Are you sure you want to remove this item from your wantlist?', :method => :delete %> 
                  <div class="right_side">
                    <%= link_to 'edit ', collection %> 
                  </div>
              </li>
          <% end %>
        </ul>
      </div>