<%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="span7">
     <div class="control-group">
      <%= f.label :name, 'Name', class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, placeholder: 'Enter miniature or set name', :autocomplete => :off, :required => true %>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="control-group">
        <%= f.label :material, 'Material', class: "control-label" %>
          <div class="controls">
            <%= f.select 'material', options_from_collection_for_select(Miniature.select("DISTINCT material"), :material, 'material', @miniature.material) %>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <div class="control-group">
        <%= f.fields_for(@production) do |pf|%>
          <%= pf.label :manufacturers, 'Manufactured by', class: "control-label" %>
            <div class="controls">
              <%= collection_select( :manufacturers, :id, @all_manufacturers, :id, :name, 
                   {:selected => @miniature.manufacturers.map(&:id)}, 
                   {class: 'multiselect', multiple: true}) %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <div class="control-group">
        <%= f.label :pcode, 'Product Code', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :pcode, placeholder: 'Enter product code or SKU' %>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <div class="control-group">
        <%= f.label :release_date, 'Release Date (partial dates are fine)', class: "control-label" %>
          <div class="controls">
            <div class = "form-inline">
              <%= f.date_select :release_date, @miniature.get_date_select_opt %>
            </div>  
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <div class="control-group">
        <%= f.fields_for(@size) do |sf| %>
          <%= sf.label :scales, 'Scale', class: "control-label" %>
            <div class="controls">
              <%= collection_select( :scales, :id, @all_scales, :id, :name, 
                   {:selected => @miniature.scales.map(&:id)}, 
                   {class: 'multiselect', multiple: true}) %>
            </div>
         <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <div class="control-group">
        <%= f.fields_for(@sculpting) do |scf| %>
          <%= scf.label :sculptors, 'Sculpted by', class: "control-label" %>
            <div class="controls">
              <%= collection_select( :sculptors, :id, @all_sculptors, :id, :fullname, 
                   {:selected => @miniature.sculptors.map(&:id)}, 
                   {class: 'multiselect', multiple: true}) %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="span8">
      <div class="control-group">
        <%= f.label :set, 'This is a set', class: "control-label" %>
          <div class="controls"> 
            <%= f.check_box :set, {class: "check_box_spaced"} %> <span class="help-inline">(More than one miniature)</span>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="control-group">
        <%= f.label :quantity, 'No. of miniatures in set', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :quantity, :autocomplete => :off %>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <div class="control-group">
        <%= f.label :multipart, 'Multi-part kit', class: "control-label" %>
          <div class="controls">
            <%= f.check_box :multipart %> <span class="help-inline">(Multi-part kits that can be assembled a number of different ways)</span>
          </div> 
      </div> 
    </div>
  </div> 
  <div class="row">
    <div class="span5">
      <div class="control-group">
        <%= f.label :random, 'Random miniatures?', class: "control-label" %>
          <div class="controls">
            <%= f.check_box :random %> <span class="help-inline">(Sets or single miniatures where the exact contents are random)</span>
          </div> 
      </div> 
    </div>
  </div> 
  <br /><br />
        <!-- Initialize the plugin: -->
        <script type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect({
      enableFiltering: true,
      maxHeight: 400
    });
  });
        </script>

  <div class="row">  
    <div class="span8">
      <div class="control-group">
        <%= f.label :notes, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :notes, placeholder: 'Any other facts about this miniature or release' %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
    </script>
<div class="control-group">
    <span class="tooltip_style control-label"><a href="#" data-toggle="tooltip" title="Upload a single frame image of either the unpainted miniature or the sprue(s), ideally on a black or white background. Please only upload photos you have taken or else we may get in copyright trouble. There is only one unpainted photo per miniature, so if the miniature already has an unpainted photo, uploading a new one will replace it.">Image guidelines <i class="fa fa-question-circle"></i></a></span>
  </div>

  <div class="row">  
    <div class="span8">
      <div class="control-group">
        <%= f.label :unpainted, 'Attach unpainted or sprue picture', class: "control-label" %>
        <div class="controls">
          <%= f.file_field :unpainted %>
        </div>
      </div>
    </div>
  </div>
