<tr>
  <td><div class="indexnowrap"> <%= link_to miniature.name, miniature %><%= " (#{miniature.quantity})" if miniature.set? %></div></td>  
  <td><%= miniature.material %></td>
  <td><div class="indexsmall"><% miniature.manufacturers.each do |manufacturer| %>
        <%= link_to manufacturer.name, manufacturer_path(manufacturer) %><br />
      <% end %></div></td> 
      <td><div class="indexsmall"><% miniature.lines.where.not(id: @line).each do |line| %>
        <%= link_to line.root.name, line.root %>: <%= link_to line.name, line_path(line) %><br />
      <% end %></div></td> 
  <td><%= miniature.pcode %></td>
  <td><div class="indexsmall"><% miniature.sculptors.each do |sculptor| %>
        <%= link_to sculptor.initial_fullname, sculptor_path(sculptor) %><br /><% end %></div></td>
  <td><%= miniature.release_date.strftime("%d %b %Y") unless miniature.release_date.blank? %></td>
  <td>
      <% if miniature.collections.where(user_id: current_user).where(status: 'Got').any? %>
      <span class="fa-stack gotcircle">
    <i class="fa fa-circle fa-stack-2x gotcircle"></i>
    <i class="fa-stack-1x circletext">
    <%= miniature.collections.where(user_id: current_user).where(status: 'Got').count %>
    </i></span>
      <% end %>
      <% if miniature.collections.where(user_id: current_user).where(status: 'Want').any? %>
      <span class="fa-stack wantcircle">
    <i class="fa fa-circle fa-stack-2x wantcircle"></i>
    <i class="fa-stack-1x circletext">
    <%= miniature.collections.where(user_id: current_user).where(status: 'Want').count %>
    </i></span>
      <% end %>
  </td>  
  <td><% if current_user.try(:admin?) %>
  <%= link_to "delete", miniature, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %></td></tr>