<tr>
  <td><%= link_to miniature.name, miniature %></td>  <td><%= miniature.material %></td> <td><%= miniature.scale %></td> <td><%= miniature.release_date %></td>
  <td><% if current_user.admin? %>
     <%= link_to "delete", miniature, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %></td></tr>
