<% @miniature.collections.where("photo_file_name IS NOT NULL").order(imagevotes_count: :desc).take(1).each do |collection| %>
		<% content_for :head do %>
		    <meta property="og:image" content="<%= collection.photo.url(:medium) %>"/>
		    <meta name="twitter:image:src" content="<%= collection.photo.url(:medium) %>">

		<% end %>
<div class="photo1">

      <%= link_to image_tag(collection.photo.url(:medium), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

      <p><%= link_to collection.name.presence || @miniature.name, collection %> painted by <%= link_to collection.user.name, collection.user %></p>
   </div>
<% end %>
   
<% @miniature.collections.where("photo_file_name IS NOT NULL").order(imagevotes_count: :desc).drop(1).take(3).each do |collection| %>

    <div class="photos234">
      <li>
      
        <%= link_to image_tag(collection.photo.url(:thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>
      </li>
    </div>
<% end %><br />

<p class="clear">
  <%= render 'social' %>
</p>
    <p class="clear"><%= render 'vote' if @miniature.collections.where("photo_file_name IS NOT NULL").any? && user_signed_in? %></p>  
 <br />