<% provide(:title, 'Edit miniature') %>
<h1>Edit miniature listing</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@miniature) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :material %>
      <%= f.select :material, options_for_select(["Metal", "Resin", "Hard Plastic", "Soft Plastic", "Card"]) %>

      <%= f.label :release_date %>
      <%= f.date_select :release_date, :start_year => Date.current.year, :end_year => 1970 %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
