<% provide(:title, 'All miniatures') %>
<h1>All miniatures</h1>
		<form class="form">
			<div class = "form-inline">
			<%= search_form_for @search, :html => {:method => :post} do |f| %>
  	 			<div class="input-append">
    				<%= f.text_field :name_or_material_or_pcode_or_lines_name_or_sculptors_last_name_or_manufacturers_name_or_sculptors_first_name_cont, class: "span3" %>
  					<%= f.submit "Search", class: "btn" %>
  	    		</div>
			<% end %>
				<div class="float-right">
					<% if current_user.try(:contributor?) %>
						<%= link_to 'Add new miniature', new_miniature_path, class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
		</form>

<%= will_paginate %>

<table border="0" cellpadding="10" class="table table-semicondensed table-hover">
	<th align="left"><%= sort_link(@search, :name, "Name") %></th>
	<th align="left"><%= sort_link(@search, :material, "Material") %></th>
	<th align="left"><%= sort_link(@search, 'manufacturers_name', "Manufacturer") %></th>
	<th align="left"><%= sort_link(@search, 'lines_name', "Line") %></th>
	<th align="left"><%= sort_link(@search, :pcode, "Code") %></th>
	<th align="left"><%= sort_link(@search, 'sculptors_last_name', "Sculpt") %></th>
	<th align="left"><%= sort_link(@search, :release_date, "Release") %></th>
		<% if user_signed_in? %>
	<th align="left"><i class="fa fa-check-square-o fa-lg"></i></th>
		<% end %>
		<% if current_user.try(:admin?) %>
	<th align="left">Admin</th>
		<% end %>
  <%= render @miniatures %>
</table>

<%= will_paginate %>

<div class="float-right">
	<% if current_user.try(:contributor?) %>
		<%= link_to 'Add new miniature', new_miniature_path, class: "btn btn-primary" %>
	<% end %>
</div><br />
