<% provide(:title, 'All miniatures') %>
<h1>All miniatures</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_or_material_or_pcode_cont, "Search" %>
    <%= f.text_field :name_or_material_or_pcode_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= will_paginate %>

<table border="0" cellpadding="10" class="table table-hover">
<th align="left"><%= sort_link(@search, :name, "Name") %></th>
<th align="left"><%= sort_link(@search, :material, "Material") %></th>
<th align="left">Manufacturer</th>
<th align="left">Scale</th>
<th align="left"><%= sort_link(@search, :pcode, "Product Code") %></th>
<th align="left">Sculpted by</th>
<th align="left"><%= sort_link(@search, :release_date, "Release Date") %></th>
<% if current_user.try(:admin?) %><th align="left">Admin</th><% end %>
  <%= render @miniatures %>
</table>

<%= will_paginate %>

<% if current_user.try(:admin?) %>

<%= link_to 'New miniature', new_miniature_path %>

<h1> Import Miniatures:</h1>

<%= form_tag import_miniatures_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %><% end %>
