<% provide(:title, @miniature.name) %>

<div class="row">
  <aside class="span4">
    <section>
      
       <h1><%= @miniature.name %><br /></h1><br />
       <div class="minilabel">Material:</div> <%= @miniature.material %><br /> 

       <div class="minilabel"><%= simple_pluralize(@miniature.manufacturers.count, 'Manufacturer') %>:</div> 
       <% @miniature.manufacturers.each do |manufacturer| %>
        <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
          <% end %><br /> 

       <div class="minilabel"><%= simple_pluralize(@miniature.scales.count, 'Scale')%>:</div> <% @miniature.scales.each do |scale| %>
        <%= scale.name %>
          <% end %><br />
       <div class="minilabel">Product code:</div> <%= @miniature.pcode %><br />
       <div class="minilabel">Release date:</div> <%= @miniature.release_date.strftime("%d %b %Y") unless @miniature.release_date.blank? %><br />
       <div class="minilabel">Sculpted by:</div> <% @miniature.sculptors.each do |sculptor| %>
        <%= link_to sculptor.fullname, sculptor_path(sculptor) %><br />
          <% end %><br />
       <br />
       <div class="minilabel">Notes:</div><br />
       <%= @miniature.notes %>
       <br /><br />
       <div id="breadcrumbs">
  <% @miniature.lines.each do |line| %> 
    <%= link_to line.root.name, line.root %> &gt; <%= link_to line.name, line %> 
  <% end %>
</div><br /> 
       <%= link_to "Edit", edit_miniature_path %><br />
       <br />
       </section>
      <section>
        <%= render 'stats' %>
      </section>
      <section>
       <i class="fa fa-check-square-o"></i> <%= link_to "Add to collection or wantlist", new_collection_path(:miniature_id => @miniature) %></section>
 <div class="gotwant">You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Want').count %> in your wantlist</div>
       <div class="gotwant">You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Got').count %> in your collection
    <ul class="icons"><% current_user.collections.where(miniature_id: @miniature).where(status: 'Got').each do |collection| %>
      
    <li><table><tr><td><% if collection.photo.exists? %><%= link_to image_tag(collection.photo.url(:icon), :retina => true, :class => "curvedicon"), collection %><% else %><%= link_to image_tag("/system/stock/barbarian.gif", :retina => true, :class => "curvedicon"), collection %><% end %></td><td>
<%= collection.name %><br >
   <%= collection.progress %></li></td></tr></table><% end %></ul></div>
  </aside>
   <div class="span8">
    

      <script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>
   <div class="photo1">
      <%= link_to image_tag(@miniature.collections.first.photo.url(:medium), :retina => true), @miniature.collections.first.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

      <p>Painted by <%= link_to @miniature.collections.first.user.name, @miniature.collections.first.user %></p>

</div>
   
      <% @miniature.collections(:photo).drop(1).take(4).each do |collection| %>

    <% if collection.photo.exists? %>
    <div class="photos234"><li>
      
     <%= link_to image_tag(collection.photo.url(:thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>
    </li>
    </div><% end %><% end %>
  <br>
      Voted the best painted examples of <%= @miniature.name %>. <%= link_to "See more and cast your vote.", imagevote_path(:miniature_id => @miniature) %>
      <br>
      


  </div>  
   
</div>

