<% provide(:title, @miniature.name) %>
<h1><%= @miniature.name %></h1>

<div class="row">
  <aside class="span4">
    <section>
      
       <strong><%= @miniature.name %><br /></strong>
       Material: <%= @miniature.material %><br /> 

       <%= simple_pluralize(@miniature.manufacturers.count, 'Manufacturer') %>: 
       <% @miniature.manufacturers.each do |manufacturer| %>
        <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
          <% end %><br /> 

       <%= simple_pluralize(@miniature.scales.count, 'Scale')%>: <% @miniature.scales.each do |scale| %>
        <%= link_to scale.name, scale_path(scale) %>
          <% end %><br />
       Product code: <%= @miniature.pcode %><br />
       Sculpted by: <% @miniature.sculptors.each do |sculptor| %>
        <%= link_to sculptor.fullname, sculptor_path(sculptor) %>
          <% end %><br />
       Release date: <%= @miniature.release_date.strftime("%d %b %Y") unless @miniature.release_date.blank? %><br />
       Notes:<br />
       <%= @miniature.notes %>
       <br /><br />
       <%= link_to "Edit", edit_miniature_path %><br />
       <br /><br />
       </section>
      <section>
        <%= render 'stats' %>
      </section>
      <section>
       <%= link_to "Add to collection or wantlist", new_collection_path(:miniature_id => @miniature) %></section>
      <section>
 You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Want').count %> in your wantlist
       <br />
       You have <%= current_user.collections.where(miniature_id: @miniature).where(status: 'Got').count %> in your collection
    </section>
    <ul class="photos"><% current_user.collections.where(miniature_id: @miniature).where(status: 'Got').each do |collection| %>
    <li><%= image_tag collection.photo.url(:icon), :retina => true %> <%= collection.progress %></li><% end %></ul>
  </aside>
   <div class="span8">
    <ul class="photos"><% @miniature.collections(:photo).each do |collection| %>
    <li><%= image_tag collection.photo.url(:medium), :retina => true %></li><% end %>
    </ul>
   </div>
</div>

