<% provide(:title, @miniature.name.html_safe) %>

<div class="row">
  <aside class="span4">
    <section>
      
       <h1><%= @miniature.name %><br />
        <% if @miniature.set? %>
          <div class="subh1">
            Set of <%= @miniature.quantity %>
          </div>
        <% end %>
       </h1><br />
       <div class="minilabel">Material:</div> <%= @miniature.material %><br /> 

       <div class="minilabel"><%= simple_pluralize(@miniature.manufacturers.count, 'Manufacturer') %>:</div> 
       <% @miniature.manufacturers.each do |manufacturer| %>
        <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
          <% end %><br /> 

       <div class="minilabel"><%= simple_pluralize(@miniature.scales.count, 'Scale')%>:</div> <% @miniature.scales.each do |scale| %>
        <%= scale.name %>
          <% end %><br />
       <div class="minilabel">Product code:</div> <%= @miniature.pcode %><br />
       <div class="minilabel">Release date:</div> <%= @miniature.release_date_display unless @miniature.release_date.blank? %><br />
       <div class="minilabel">Sculpted by:</div> <% @miniature.sculptors.each do |sculptor| %>
        <%= link_to sculptor.fullname, sculptor_path(sculptor) %><br />
          <% end %>
          <br />
          <% if current_user.try(:contributor?) %>
          <%= render 'admin_line' %>
        <% else %>
          <%= render 'line' %>
        <% end %>
      
      <br />
       <div class="minilabel">Notes:</div><br />
       <%= @miniature.notes %>
       <br /><br />
       
       <% if @miniature.set? %>
       <code>Set id: <%= @miniature.id %></code><br /><br />
        <%= link_to "Edit set", edit_miniature_path if current_user.try(:contributor?) %><br /><br />
       <% else %>
       <code>Miniature id: <%= @miniature.id %></code><br /><br />
       <%= link_to "Edit miniature", edit_miniature_path if current_user.try(:contributor?) %><br /><br />
       <% end %>
       </section>
      <section>
        <%= render 'stats' %>
      </section>
      <%= render 'collection_info' if user_signed_in? %>
  </aside>
   <div class="span8">
    

      <script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>
<% @miniature.collections.where("photo_file_name IS NOT NULL").take(1).each do |collection| %>  
<div class="photo1">

      <%= link_to image_tag(collection.photo.url(:medium), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

      <p><%= link_to collection.name.presence || @miniature.name, collection %> painted by <%= link_to collection.user.name, collection.user %></p>
   </div>
<% end %>
   
<% @miniature.collections.where("photo_file_name IS NOT NULL").drop(1).take(3).each do |collection| %>

    <div class="photos234">
      <li>
      
        <%= link_to image_tag(collection.photo.url(:thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>
      </li>
    </div>
<% end %><br />

    <p class="clear"><%= render 'vote' if @miniature.collections.where("photo_file_name IS NOT NULL").any? %></p>  
 <br />
<% if @miniature.set? %>
    <h3>Contents:</h3>
      <% if @miniature.random? %>
      This set of <%= @miniature.quantity %> contains a random assortment of the following miniatures:
      <% elsif @miniature.multipart? %>
      This multi-part kit can be used to assemble <%= @miniature.quantity %> of the following miniatures:
      <% else %>
      This set of <%= @miniature.quantity %> contains the following miniatures:
      <% end %><br />
      
     <table id="contents_table">

       <%= content_setmini_links_with_quantity(@miniature) %>

     </table>
<% elsif (@miniature.random?) && (@miniature.set != true) %>
    This miniature is a random selection from the following: 
    <br />
      
     <table id="contents_table">

       <%= content_setmini_links_with_quantity(@miniature) %>

     </table>
<% elsif (@miniature.multipart?) && (@miniature.set != true) %>
  This multi-part kit can be used to assemble one of the following miniatures:
   <br />
      
     <table id="contents_table">

       <%= content_setmini_links_with_quantity(@miniature) %>

     </table>
<% elsif @miniature.contents.any? %>
   <strong>Sets containing <%= @miniature.name %>:</strong>

         <%= content_miniset_links_with_quantity(@miniature) %><br /><br />
   
      <% if current_user.try(:contributor?) %>
          <%= link_to "Add to set", new_content_path(:setmini_id => @miniature.id) %>
      <% end %>

<% else %>
    <% if current_user.try(:contributor?) %>
          <%= link_to "Add to set", new_content_path(:setmini_id => @miniature.id) %>
    <% end %>
<% end %>
  </div>  
   
</div>

