<% provide(:title, @miniature.name) %>
<h1><%= @miniature.name %></h1>

<div class="row">
  <aside class="span4">
    <section>
      
       <%= @miniature.name %><br />
       Material: <%= @miniature.material %><br /> 
       <%= simple_pluralize(@miniature.manufacturers.count, 'Manufacturer') %>: <%= link_to @miniature.manufacturers.map(&:name).join(', '), miniatures_manufacturers_path %><br /> 
       <%= simple_pluralize(@miniature.scales.count, 'Scale')%>: <%= link_to @miniature.scales.map(&:name).join(', '), scale_path %><br />
       Product code: <%= @miniature.pcode %><br />
       Sculpted by: <%= link_to @miniature.sculptors.map(&:fullname).join(', '), sculptor_path %><br />
       Release date: <%= @miniature.release_date.strftime("%d %b %Y") unless @miniature.release_date.blank? %><br />
       Notes:<br />
       <%= @miniature.notes %>
       <br /><br />
       <%= link_to "Edit", edit_miniature_path %><br />
       <br /><br />
       You have <%= @miniature.collections.where(status: 'Got').count %>
       <br /><br />
      <%= @miniature.collections.where(status: 'Got').count %> have this<br />
      <%= @miniature.collections.where(status: 'Want').count %> want this
       <br /><br />
       
       <%= render  'shared/collection' %>
    </section>
  </aside>
</div>