

<%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :quantity, 'Number of miniatures in set' %>
       <div class = "form-inline"><%= f.number_field :quantity, :autocomplete => :off  %>
      <%= f.label :random, 'Random miniatures?' %>
      <%= f.check_box :random %></div>

      <%= f.label :material %>
      <div class = "form-inline"><%= f.select 'material', options_from_collection_for_select(Miniset.select("DISTINCT material"), :material, 'material', @miniset.material), {include_blank: ''} %></div>

      <%= f.fields_for(@size) do |sf| %>
      <%= sf.label simple_pluralize(@miniset.scales.count, 'Scale') %>
      <div class = "form-inline">
        <%= collection_select( :scales, :id, @all_scales, :id, :name, 
                   {:selected => @miniset.scales.map(&:id)}, 
                   {class: 'multiselect', multiple: true}) %>
        <% end %></div>
 

       <%= f.fields_for(@production) do |pf|%>
      <%= pf.label simple_pluralize(@miniset.manufacturers.count, 'Manufacturer') %>
      <div class = "form-inline">
        <%= collection_select( :manufacturers, :id, @all_manufacturers, :id, :name, 
                   {:selected => @miniset.manufacturers.map(&:id)}, 
                   {class: 'multiselect', multiple: true}) %>
        <% end %></div>


      <%= f.fields_for(@sculpting) do |scf| %>
            <%= scf.label 'Sculpted by' %>
      <div class = "form-inline">
        <%= hidden_field "Set Sculptor", :sculptor_id %>
        <%= collection_select( :sculptors, :id, @all_sculptors, :id, :fullname, 
                   {:selected => @miniset.sculptors.map(&:id)}, 
                   {class: 'multiselect', multiple: true}) %>
        <% end %></div>


<!-- Initialize the plugin: -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect({
      enableFiltering: true,
      maxHeight: 400
    });
  });
</script>


      <%= f.label :pcode, 'Product Code' %>
      <%= f.text_field :pcode %>

      <%= f.label :release_date %>
      <div class = "form-inline"><%= f.date_select :release_date, :start_year => Date.current.year, :end_year => 1970, :include_blank => true %></div>
      <%= f.label :notes %>
      <%= f.text_area :notes %>