<% provide(:title, 'Add miniature to product line') %>
<h1>Add <%= @miniature.name %> to product line</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@miniline) do |f| %>
 	<%= f.hidden_field :miniature_id, :value => @miniature.id %>
   
    <%= f.label :line_id, 'Select product line' %><br />
    <%= f.select :line_id, @lines, include_blank: true %>

  
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>
  </div>
</div>
