<tr>
    <td><%= link_to sculptor.fullname, sculptor %></td>
    <% if current_user.try(:superadmin?) %>
    <td><%= sculptor.id %></td>
  <% end %>
    <td><%= sculptor.miniatures.count %></td>
    <td><%= truncate(sculptor.biog, length: 140) %></td>
    <% if current_user.try(:contributor?) %><td><%= link_to 'Edit', edit_sculptor_path(sculptor) %></td>
    <td><%= link_to 'Delete', sculptor, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
 </tr>