<% provide(:title, 'All sculptors') %>

<h1>Sculptors</h1>

<div class="links_wrapper">
    <div class ="model_links">
        <%= link_to "Miniatures", miniatures_path %>
    </div>
    <div class ="model_links">
        <%= link_to "Manufacturers", manufacturers_path %>
    </div>
    <div class ="model_links">
        <%= link_to "Product Lines", lines_path %>
    </div>
</div>

<form class="form">
    <div class = "form-inline">
      <%= search_form_for @search, :html => {:method => :post} do |f| %>
        <div class="input-append">
          <%= f.text_field :first_name_or_last_name_cont, class: "span3" %>
          <%= f.submit "Search", class: "btn" %>
        </div>
      <% end %>
<div class="float-right">
            <% if current_user.try(:admin?) %>
                <%= link_to 'Add sculptor', new_sculptor_path, class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</form>

<%= will_paginate %>

<table border="0" cellpadding="10" class="table table-condensed table-hover">
  <th><%= sort_link(@search, :last_name, "Name") %></th>
  <% if current_user.try(:superadmin?) %><th>id</th>
  <% end %>
  <th>Miniatures</th>
  <th>Biog</th>
  <% if current_user.try(:admin?) %>
    <th>Edit</th>
    <th>Delete</th>
  <% end %>
  
  <%= render @sculptors %>

</table>

<%= will_paginate %>