<% @user ||= current_user %>
  
    You are <a href="<%= following_user_path(@user) %>">following<strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong> users.
  </a><br />
 
    You have <a href="<%= followers_user_path(@user) %>"><strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong> followers.
  </a><br /><br />
  You have<a href="<%= user_collections_path(@user, :status => "Got") %>"><strong id="collection" class="stat">
      <%= @user.collections.where(status: 'Got').count %>
    </strong> miniatures</a> in your collection.
    Of which <a href="<%= user_collections_path(@user, :progress => "Painted") %>"><strong id="collection" class="stat"><%= @user.collections.where(progress: 'Painted').count %></strong> are painted.</a><br /><br />
   You have <strong id="collection" class="stat">
      <%= @user.collections.where(status: 'Want').count %>
    </strong> miniature in your <a href="<%= user_collections_path(@user, :status => "Want") %>">wantlist</a>.<br />
