<tr>
  <td width="60px"><%= gravatar_for user %></td>
  <td><%= link_to user.name, user %><br />
      @<%= user.username %></td>
  <td><%= user.collections.got.count %></td>
  <td><%= user.painterscore %></td>
  
  <% if user_signed_in? && current_user.admin? %>
  <td><%= time_ago_in_words(user.created_at) %> ago</td>
  	<td><%= user.sign_in_count %></td>
  	<td><%= time_ago_in_words(user.last_sign_in_at) %> ago</td>
  	<td><%= link_to "delete", user, method: :delete,
              data: { confirm: "You sure?" } if user.admin == false %></td>
  <% end %>
</tr>

