<% provide(:title, 'All users') %>
<h1>All users</h1>

<form class="form">
    <div class = "form-inline">
        <%= search_form_for @search, :html => {:method => :post} do |f| %>
        <div class="input-append">
            <%= f.text_field :name_or_username_cont, class: "span3" %>
        <%= f.submit "Search", class: "btn" %>
        </div>
        <% end %>
    </div>
</form>

<%= will_paginate %>
<table border="0" cellpadding="10" class="table table-condensed table-hover">
    <th></th>
    <th><%= sort_link(@search, :name, "Name") %></th>
    <th>Collection</th>
    <th>Painterscore</th>
    <% if current_user.try(:admin?) %>
        <th>admin</th>
    <% end %>
  <%= render @users %>
</table>
<%= will_paginate %>