<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= large_gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div class="username">@<%= @user.username %></div>
        <div class="adminlevel">
          <% if @user.superadmin? %>
            Dark Lord
          <% elsif @user.admin? %>
            Admin
          <% elsif @user.contributor? %>
            Contributor
          <% end %>
        </div>
    </section>
    <section>
      
      <%= render 'shared/stats' %>

    </section>
  </aside>
  <aside class="span4">
    <section>
    <h1 class="before_picfeed"><%= @user.username.titleize %>'s best painted</h1><br />

<script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>

<% paintedfeed.each do |collection| %>
    <div class="picfeed">
          <%= link_to image_tag(collection.photo.url(:feed_thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

          <p><%= link_to collection.name.presence || collection.miniature.name, collection %> </p>
        </div>
<% end %>
</section>
  </aside>
  <aside class="span5">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Updates (<%= @user.microposts.count %>)</h3>
      <table class="microposts">
        <%= render @microposts %>
      </table>
      <%= will_paginate @microposts %>
    <% end %>
  </aside>
</div>