<h2>We'd love any and all feedback from you!</h2>

<div class="row">
 	<div class="span8">
		<%= form_for(@feedback, :html => { :class => "form-horizontal"} ) do |f| %>
			<%= render 'shared/error_messages', object: f.
  object %>
  		<div class="row">
        	<div class="span4">
  			<div class="control-group">
      			<%= f.label :nature, 'Feedback type', class: "control-label" %>
        		<div class="controls">
          			<%= f.select :nature, options_for_select(["Error/Bug", "Comment", "Help me!", "Idea/Request"]) %>
        		</div>
  			</div>
  			</div>
  		</div>
  		<div class="row">
        	<div class="span6">
  			<div class="control-group">
      			<%= f.label :content, 'Feedback', class: "control-label" %>
        		<div class="controls">
          			<%= f.text_area :content, placeholder: 'The more info you can give us the better.' %>
        		</div>
  			</div>
  			</div>
  		</div>
  		<%= f.hidden_field :url, :value => request.original_url %>
  		<%= f.hidden_field :status, :value => 'New' %>
  		<div class="row">
        	<div class="span6">
  				<div style="float: right;">
  					<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
  				</div>
  			</div>
		</div>
 		<% end %>
	</div>
</div>