
<li id="<%= feed_item.id %>">
  <%= gravatar_for feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %></span> <span class="postinfo">@<%= link_to feed_item.user.username, feed_item.user %></span>

    <span class="content"><%= markdown.render(wrap(feed_item.content)).html_safe %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago</span>
    
      <% if current_user?(feed_item.user) %>
      <%= render partial: 'shared/delete_link', locals: { object: feed_item } %><% else %>
      <span class="postinfo"><%= link_to 'reply', reply_form_path, :remote => true, locals: { object: :id } %></span>
      <% end %>
</li>
<div id="ReplyContainer"></div>