<div class="sitestats">
	<strong>Site stats</strong>
		<table>
			<tr>
				<td><%= @miniatures.indiv.count %></td>
				<td>&nbsp; miniatures listed</td>
			</tr>
			<tr>
				<td><%= @miniatures.multi.count %></td>
				<td>&nbsp; sets listed</td>
			</tr>
			<tr>
				<td><%= @users.count %></td>
				<td>&nbsp; <%= link_to "users", users_path %></td>
			</tr>
			<tr>
				<td><%= @manufacturers.count %></td>
				<td>&nbsp; <%= link_to "manufacturers", manufacturers_path %></td>
			</tr>
			<tr>
				<td><%= @lines.count %></td>
				<td>&nbsp; <%= link_to "product lines", lines_path %></td>
			</tr>
			<tr>
				<td><%= @sculptors.count %></td>
				<td>&nbsp; <%= link_to "sculptors", sculptors_path %></td>
			</tr>
			<tr>
				<td><%= @collections.where("photo_file_size IS NOT NULL").count %></td>
				<td>&nbsp; photos uploaded</td>
			</tr>
		</table>
</div> 