<div class="sitestats">
<strong>Site stats</strong><br />
<%= @miniatures.where(set: false).count %> miniatures listed<br />
<%= @miniatures.where(set: true).count %> sets listed<br />
<%= @users.count %> users<br />
<%= @manufacturers.count %> manufacturers<br />
<%= @lines.count %> product lines<br />
<%= @sculptors.count %> sculptors<br />
<%= @collections.where("photo_file_size IS NOT NULL").count %> photos uploaded
</div> 