  <% @user ||= current_user %>
<div class="stats2">
<div class="collection">
    <a href="<%= user_collections_path(@user, got: true) %>">Collection 
      <div class="count"><%= @user.collections.got.count %></div>
      </a>
</div>
<div class="item">
  <a href="<%= user_collections_path(@user, want: true) %>">
    Wantlist
      <div class="count"><%= @user.collections.want.count %></div>
  </a>
</div>
<div class="item">
    <strong>
    <a href="<%= user_collections_path(@user, got: true, painted: true) %>">Painted
      <div class="count"><%= @user.collections.got.painted.count %></div></a>
  </strong>
</div>
<div class="painterscore">
   Painterscore <div class="count"><%= @user.painterscore %></div>
 </div>
 <div class="item">
 <strong>
    <a href="<%= user_collections_path(@user, gold: true) %>">Golds
      <div class="count"><%= @user.collections.gold.count %></div></a>
  </strong>
</div>
<div class="item">
 <strong>
    <a href="<%= user_collections_path(@user, silver: true) %>">Silvers
      <div class="count"><%= @user.collections.silver.count %></div></a>
  </strong>
</div>
<div class="item">
 <strong>
    Votes cast
      <div class="count"><%= @user.voted_count %></div>
  </strong>
</div>

<div class="updates">
    <strong>Updates 
      <div class="count"><%= @user.microposts.count %></div>
      </strong>
</div>
<div class="item">
  <a href="<%= followers_user_path(@user) %>">
    Followers
      <div class="count"> <%= @user.followers.count %></div>
  </a>
</div>
<div class="item">
  <a href="<%= following_user_path(@user) %>">
    Following
      <div class="count"><%= @user.followed_users.count %></div>
  </a>
</div>

</div>
