 <script type="text/javascript">
$(document).ready(function() {
  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 200 // don't foget to change the duration also in CSS
    }
  });
});
</script>

<br><br>
  <table id="image_table">
<%= form_for Paintingvote.new do |f| %>
  <%= hidden_field "Miniature", :miniature_id %>

  <% @miniature.collections(:photo).each do |collection| %>

   <% if collection.photo.exists? %>
      <td><div class="photo1">

     <%= link_to image_tag(collection.photo.url(:thumb), :retina => true), collection.photo.url(:original), :retina => true, :class => "image-popup-no-margins" %>

  <%= f.radio_button :collection_id, true %>

          <%= image_tag("/system/stock/medal.gif", :retina => true, :class => "medal") %>

     <p>Painted by <%= link_to collection.user.name, collection.user %></p></div>
         </td>

   <% end %>
  <% end %>
 
</table>
<br>
<%= f.submit "Submit vote", class: "btn btn-large btn-primary" %>
<% end %>

