<tr>
  <td><div class="nowrap"><%= link_to manufacturer.name, manufacturer %></div>
  </td>
  <td>
   <%= manufacturer.miniatures.count %>
   </td>
   <td>
   <%= manufacturer.lines.count %>
   </td>
  <td><%= truncate(manufacturer.description, length: 140) %>
  </td>
  	<% if current_user.try(:admin?) %>
  		<td>
  			<%= link_to 'Edit', edit_manufacturer_path(manufacturer) %>
  		</td>
  	<% end %>
  	<% if current_user.try(:admin?) %>
  		<td>
  			<%= link_to "Delete", manufacturer, method: :delete,
                                  data: { confirm: "You sure?" } %>
        </td>
  	<% end %>
</tr>