<% provide(:title, 'All Manufacturers') %>
<h1>All Manufacturers</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <%= f.submit "Search", class: "btn btn-medium btn-primary" %>
<% end %>

<%= will_paginate %>

<table border="0" cellpadding="10" class="table table-hover">
<th align="left"><%= sort_link(@search, :name, "Manufacturer") %></th>
<% if current_user.try(:admin?) %><th></th>
    <th></th><% end %>


 <%= render @manufacturers %>

</table>
<%= will_paginate %>

<% if current_user.try(:admin?) %>
  <%= link_to 'New manufacturer', new_manufacturer_path %>
  <% end %>

