<% provide(:title, @manufacturer.name) %>
<h1><%= @manufacturer.name %></h1>

<h4>Miniature product lines</h4>
<% @manufacturer.lines.roots.each do |line| %>
<%= line_sublink_with_count(line) %>
<br />
<% end %>

<br /><br /><br />
<h4>Miniatures</h4>

<%= will_paginate @miniatures %>

<table border="0" cellpadding="10" class="table table-condensed table-hover">

<th align="left"><%= sort_link(@search, :name, "Name") %></th>
<th align="left"><%= sort_link(@search, :material, "Material") %></th>
<th align="left"><%= sort_link(@search, :manufacturers_name, "Manufacturer") %></th>
<th align="left"><%= sort_link(@search, :lines_name, "Line") %></th>
<th align="left"><%= sort_link(@search, :pcode, "Code") %></th>
<th align="left"><%= sort_link(@search, :sculptors_last_name, "Sculpt") %></th>
<th align="left"><%= sort_link(@search, :release_date, "Release") %></th>
<th align="left"><i class="fa fa-check-square-o"></i></th>
<% if current_user.try(:admin?) %><th align="left">Admin</th><% end %>
  <%= render @miniatures %>
</table>

<%= will_paginate @miniatures %>