<%= favicon_link_tag 'https://s3.amazonaws.com/minilegions/system/stock/favicon.ico' %>
<link rel="apple-touch-icon" href="https://s3.amazonaws.com/minilegions/system/stock/touch-icon-iphone.png" /> 
<link rel="apple-touch-icon" sizes="76x76" href="https://s3.amazonaws.com/minilegions/system/stock/touch-icon-ipad.png" /> 
<link rel="apple-touch-icon" sizes="120x120" href="https://s3.amazonaws.com/minilegions/system/stock/touch-icon-iphone-retina.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://s3.amazonaws.com/minilegions/system/stock/touch-icon-ipad-retina.png" />


<% if user_signed_in? %>
<a id="floating_link" href="#feedback-popup" class="open-popup-link">Feedback</a>

<div id="feedback-popup" class="white-popup mfp-hide">
  <%= render 'shared/feedback_form' %>
</div>
<% end %>

<script>
$('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
});
</script>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">


      <%= link_to image_tag("https://s3.amazonaws.com/minilegions/system/stock/mini_legions.png", :retina => true, :class => "nav pull-left"), root_path %>
        
      
      <%= image_tag("https://s3.amazonaws.com/minilegions/system/stock/silhouette.png", :retina => true, :class => "nav pull-left") %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Miniatures", miniatures_path %></li>
            <% if user_signed_in? && current_user.superadmin? %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Gallery", gallery_path %></li>
                <li><%= link_to "Changes", versions_path %></li>
                <li><%= link_to "Feedback", feedbacks_path %></li>
                <li><%= link_to "Manufacturers", manufacturers_path %></li>
                <li><%= link_to "Lines", lines_path %></li>
                <li><%= link_to "Sculptors", sculptors_path %></li>
                <li><%= link_to "Users", users_path %></li>
              </ul>
            </li>
            <% else %>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Browse <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Gallery", gallery_path %></li>
                <li><%= link_to "Product Lines", lines_path %></li>
                <li><%= link_to "Sculptors", sculptors_path %></li>
                <li><%= link_to "Users", users_path %></li>
              </ul>
            </li>
            <% end %>

            <% if user_signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-user"></i>
  <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Collection", user_collections_path(current_user, got: true) %></li>
                <li><%= link_to "Wantlist", user_collections_path(current_user, want: true) %></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                </li>
              </ul>
            </li>
            <% end %>
            <% if user_signed_in? == false %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>